 <img src="https://github.com/MahendraCherukupalli/The-Sparks-Foundation-Internship/blob/master/wpl_badge1.png?raw=true"/>

## Steps:
- Import Libraries
- Get the Data
- Data Preprocessing
- Train-Test Split
- Scalling the Data
- Creating and Training the Model
- Predictions
- Residual Analysis
- Evaluating the modelm

**Let's get started!**

# Import Libraries

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns  
import matplotlib.pyplot as plt  
%matplotlib inline

# Get the data

In [3]:
data=pd.read_csv("matches.csv")
data.head(10)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
5,6,2017,Hyderabad,2017-04-09,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,9,Rashid Khan,"Rajiv Gandhi International Stadium, Uppal",A Deshmukh,NJ Llong,NaN
6,7,2017,Mumbai,2017-04-09,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,N Rana,Wankhede Stadium,Nitin Menon,CK Nandan,NaN
7,8,2017,Indore,2017-04-10,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,bat,normal,0,Kings XI Punjab,0,8,AR Patel,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
8,9,2017,Pune,2017-04-11,Delhi Daredevils,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Delhi Daredevils,97,0,SV Samson,Maharashtra Cricket Association Stadium,AY Dandekar,S Ravi,NaN
9,10,2017,Mumbai,2017-04-12,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,JJ Bumrah,Wankhede Stadium,Nitin Menon,CK Nandan,NaN

In [4]:
data.shape

(756, 18)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
id                 756 non-null int64
season             756 non-null int64
city               749 non-null object
date               756 non-null object
team1              756 non-null object
team2              756 non-null object
toss_winner        756 non-null object
toss_decision      756 non-null object
result             756 non-null object
dl_applied         756 non-null int64
winner             752 non-null object
win_by_runs        756 non-null int64
win_by_wickets     756 non-null int64
player_of_match    752 non-null object
venue              756 non-null object
umpire1            754 non-null object
umpire2            754 non-null object
umpire3            119 non-null object
dtypes: int64(5), object(13)
memory usage: 106.4+ KB

In [6]:
data.describe()

                 id       season  dl_applied  win_by_runs  win_by_wickets
count    756.000000   756.000000  756.000000   756.000000      756.000000
mean    1792.178571  2013.444444    0.025132    13.283069        3.350529
std     3464.478148     3.366895    0.156630    23.471144        3.387963
min        1.000000  2008.000000    0.000000     0.000000        0.000000
25%      189.750000  2011.000000    0.000000     0.000000        0.000000
50%      378.500000  2013.000000    0.000000     0.000000        4.000000
75%      567.250000  2016.000000    0.000000    19.000000        6.000000
max    11415.000000  2019.000000    1.000000   146.000000       10.000000

In [7]:
data1=pd.read_csv("deliveries.csv")
data1.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [8]:
data1.shape

(179078, 21)

In [9]:
data1.describe()

,match_id,inning,over,ball,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs
count,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000
mean,1802.252957,1.482952,10.162488,3.615587,0.000452,0.036721,0.004936,0.021136,0.004183,0.000056,1.246864,0.067032,1.313897
std,3472.322805,0.502074,5.677684,1.806966,0.021263,0.251161,0.116480,0.194908,0.070492,0.016709,1.608270,0.342553,1.605422
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,190.000000,1.000000,5.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,379.000000,1.000000,10.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
75%,567.000000,2.000000,15.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,11415.000000,5.000000,20.000000,9.000000,1.000000,5.000000,4.000000,5.000000,5.000000,5.000000,7.000000,7.000000,10.000000

# Data Preprocessing

In [10]:
# checking for null values...
data.isnull().sum()

id                   0
season               0
city                 7
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner               4
win_by_runs          0
win_by_wickets       0
player_of_match      4
venue                0
umpire1              2
umpire2              2
umpire3            637
dtype: int64

In [11]:
data1.isnull().sum()

match_id                 0
inning                   0
batting_team             0
bowling_team             0
over                     0
ball                     0
batsman                  0
non_striker              0
bowler                   0
is_super_over            0
wide_runs                0
bye_runs                 0
legbye_runs              0
noball_runs              0
penalty_runs             0
batsman_runs             0
extra_runs               0
total_runs               0
player_dismissed    170244
dismissal_kind      170244
fielder             172630
dtype: int64

In [12]:
data.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [13]:
MI=data["team1"]=='Mumbai Indians'
RCB=data["team1"]=='Royal Challengers Bangalore'
MI1=data["team2"]=='Mumbai Indians'
RCB1=data["team2"]=='Royal Challengers Bangalore'

In [14]:
rdf=data[(MI & RCB1)|(MI1 & RCB)]

In [15]:
rdf.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
11,12,2017,Bangalore,2017-04-14,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,KA Pollard,M Chinnaswamy Stadium,KN Ananthapadmanabhan,AK Chaudhary,NaN
36,37,2017,Mumbai,2017-05-01,Royal Challengers Bangalore,Mumbai Indians,Royal Challengers Bangalore,bat,normal,0,Mumbai Indians,0,5,RG Sharma,Wankhede Stadium,AK Chaudhary,CB Gaffaney,NaN
62,63,2008,Mumbai,2008-04-20,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,Royal Challengers Bangalore,0,5,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,NaN
89,90,2008,Bangalore,2008-05-28,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,CRD Fernando,M Chinnaswamy Stadium,BF Bowden,AV Jayaprakash,NaN
142,143,2009,Johannesburg,2009-05-03,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,Royal Challengers Bangalore,0,9,JH Kallis,New Wanderers Stadium,RE Koertzen,TH Wijewardene,NaN

In [16]:
rdf.shape

(25, 18)

In [17]:
rdf[["team1","team2","toss_winner","toss_decision","winner"]]

,team1,team2,toss_winner,toss_decision,winner
11,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Mumbai Indians
36,Royal Challengers Bangalore,Mumbai Indians,Royal Challengers Bangalore,bat,Mumbai Indians
62,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore
89,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Mumbai Indians
142,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore
152,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Mumbai Indians
187,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore
225,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Mumbai Indians
230,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Mumbai Indians
241,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Mumbai Indians
305,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore
359,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Royal Challengers Bangalore
366,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Mumbai Indians
382,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore
416,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Mumbai Indians
461,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Royal Challengers Bangalore
483,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Mumbai Indians
533,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Mumbai Indians
561,Royal Challengers Bangalore,Mumbai Indians,Royal Challengers Bangalore,bat,Royal Challengers Bangalore
589,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Mumbai Indians
616,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Mumbai Indians
649,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Mumbai Indians
666,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore
702,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Mumbai Indians
726,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Mumbai Indians

In [18]:
rdf[["team1","team2","toss_winner","toss_decision","winner"]].isnull().sum()

team1            0
team2            0
toss_winner      0
toss_decision    0
winner           0
dtype: int64

# 1

In [48]:
rdf[(rdf["toss_winner"]=="Mumbai Indians")&(rdf["toss_decision"]=="field")]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
11,12,2017,Bangalore,2017-04-14,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,KA Pollard,M Chinnaswamy Stadium,KN Ananthapadmanabhan,AK Chaudhary,NaN
89,90,2008,Bangalore,2008-05-28,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,CRD Fernando,M Chinnaswamy Stadium,BF Bowden,AV Jayaprakash,NaN
241,242,2011,Bangalore,2011-04-12,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,SR Tendulkar,M Chinnaswamy Stadium,HDPK Dharmasena,AL Hill,NaN
305,306,2011,Chennai,2011-05-27,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,normal,0,Royal Challengers Bangalore,43,0,CH Gayle,"MA Chidambaram Stadium, Chepauk",Asad Rauf,SJA Taufel,NaN
366,367,2012,Bangalore,2012-05-14,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,5,AT Rayudu,M Chinnaswamy Stadium,S Das,BR Doctrove,NaN
382,383,2013,Bangalore,2013-04-04,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,normal,0,Royal Challengers Bangalore,2,0,CH Gayle,M Chinnaswamy Stadium,VA Kulkarni,C Shamshuddin,NaN
589,590,2016,Mumbai,2016-04-20,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,6,RG Sharma,Wankhede Stadium,AK Chaudhary,CK Nandan,NaN
616,617,2016,Bangalore,2016-05-11,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,6,KH Pandya,M Chinnaswamy Stadium,AY Dandekar,C Shamshuddin,NaN
666,7924,2018,Bengaluru,01/05/18,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,normal,0,Royal Challengers Bangalore,14,0,TG Southee,M Chinnaswamy Stadium,Marais Erasmus,Nitin Menon,Yeshwant Barde
726,11322,2019,Mumbai,15/04/19,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,5,SL Malinga,Wankhede Stadium,Marais Erasmus,Nitin Menon,Nanda Kishore

In [49]:
rdf["winner"].value_counts()

Mumbai Indians                 16
Royal Challengers Bangalore     9
Name: winner, dtype: int64

according to the dataset Mi win the match

In [21]:
data.columns

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

In [22]:
data1.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

# 2

In [23]:
wickets_2=data1[(data1["batting_team"].isin(['Royal Challengers Bangalore','Mumbai Indians']))&(data1["bowling_team"].isin(['Royal Challengers Bangalore','Mumbai Indians']))]

In [24]:
wickets_2.groupby(["match_id","bowler"])["player_dismissed"].count()

match_id  bowler
12        HH Pandya          1
          Harbhajan Singh    0
          JJ Bumrah          1
          KH Pandya          1
          MJ McClenaghan     2
                            ..
11322     P Negi             0
          RD Chahar          0
          SL Malinga         5
          UT Yadav           0
          YS Chahal          2
Name: player_dismissed, Length: 291, dtype: int64

according to the dataset average 2 bowlers takes more than 2 wickets

# 3

In [25]:
economy_rate=data1[(data1["batting_team"].isin(['Royal Challengers Bangalore','Mumbai Indians']))&(data1["bowling_team"].isin(['Royal Challengers Bangalore','Mumbai Indians']))]

In [26]:
economy_rate.groupby(["match_id","bowler"])["ball"].count()

match_id  bowler
12        HH Pandya          12
          Harbhajan Singh    24
          JJ Bumrah          25
          KH Pandya          24
          MJ McClenaghan     25
                             ..
11322     P Negi             27
          RD Chahar          24
          SL Malinga         24
          UT Yadav           13
          YS Chahal          24
Name: ball, Length: 291, dtype: int64

In [27]:
economy_rate.groupby(["match_id","bowler"])["total_runs"].sum()

match_id  bowler
12        HH Pandya           9
          Harbhajan Singh    25
          JJ Bumrah          40
          KH Pandya          25
          MJ McClenaghan     20
                             ..
11322     P Negi             50
          RD Chahar          31
          SL Malinga         35
          UT Yadav           26
          YS Chahal          27
Name: total_runs, Length: 291, dtype: int64

average of 3 bowlers have economy rate less than 8

# 4

In [28]:
strike_rate=data1[(data1["batting_team"].isin(['Royal Challengers Bangalore','Mumbai Indians']))&(data1["bowling_team"].isin(['Royal Challengers Bangalore','Mumbai Indians']))]

In [29]:
df=pd.DataFrame()

In [30]:
df["balls"]=strike_rate.groupby(["match_id","batsman"])["ball"].count()

In [31]:
df["total_runs"]=strike_rate.groupby(["match_id","batsman"])["batsman_runs"].sum()

In [32]:
strike_rate1=strike_rate[strike_rate["batsman_runs"].isin([4,6])]

In [33]:
df["boundaries"]=strike_rate1.groupby(["match_id","batsman"])["batsman_runs"].count()

In [34]:
df

                         balls  total_runs  boundaries
match_id batsman
12       AB de Villiers     22          19         1.0
         CH Gayle           28          22         3.0
         HH Pandya           5           9         1.0
         JC Buttler          5           2         NaN
         KA Pollard         49          70         8.0
...                        ...         ...         ...
11322    PA Patel           20          31         5.0
         Q de Kock          27          41         7.0
         RG Sharma          20          29         4.0
         UT Yadav            1           2         NaN
         V Kohli            10           9         1.0

[365 rows x 3 columns]

In [35]:
df=df.fillna(0)

In [36]:
def status(x,y,z):
    if x>=10:
        if y>=3:
            strike=(z/x)*100
            if strike>=130:
                return "Yes"
            else:
                return "No"
        else:
            return "No"
    else:
        return "No"

In [37]:
df["status"]=df.apply(lambda x: status(x.balls, x.boundaries,x.total_runs), axis=1)

In [38]:
df

                         balls  total_runs  boundaries status
match_id batsman
12       AB de Villiers     22          19         1.0     No
         CH Gayle           28          22         3.0     No
         HH Pandya           5           9         1.0     No
         JC Buttler          5           2         0.0     No
         KA Pollard         49          70         8.0    Yes
...                        ...         ...         ...    ...
11322    PA Patel           20          31         5.0    Yes
         Q de Kock          27          41         7.0    Yes
         RG Sharma          20          29         4.0    Yes
         UT Yadav            1           2         0.0     No
         V Kohli            10           9         1.0     No

[365 rows x 4 columns]

In [39]:
df.groupby("match_id")["status"].value_counts()

match_id  status
12        No        14
          Yes        1
37        No        11
          Yes        5
63        No         9
          Yes        6
90        No        11
          Yes        1
143       No         7
          Yes        2
153       No        12
          Yes        1
188       No        13
          Yes        2
226       No        14
          Yes        3
231       No        15
          Yes        3
242       No         8
          Yes        1
306       No        14
          Yes        2
360       No         8
          Yes        3
367       No        12
          Yes        3
383       No        11
          Yes        3
417       No        13
          Yes        4
462       No        16
484       No        12
          Yes        4
534       No        13
          Yes        4
562       No         8
          Yes        4
590       No         7
          Yes        7
617       No         9
          Yes        3
7907      No        14
          Yes        4
7924      No        14
          Yes        3
11143     No        10
          Yes        7
11322     No         8
          Yes        6
Name: status, dtype: int64

# 5

In [40]:
MI_6=data1[(data1["batting_team"]=="Mumbai Indians")&(data1["bowling_team"]=="Royal Challengers Bangalore")]

In [41]:
MI_6n=MI_6[MI_6["over"].isin([1,2,3,4,5,6])]

In [42]:
MI_6n.groupby(["match_id"])["total_runs"].sum()

match_id
12       21
37       55
63       47
90       39
143      25
153      46
188      45
226      34
231      54
242      40
306      52
360      25
367      32
383      38
417      52
462      49
484      50
534      48
562      45
590      51
617      39
7907     71
7924     46
11143    52
11322    69
Name: total_runs, dtype: int64

In [43]:
MI_6n.groupby(["match_id"])["total_runs"].sum().mean()

45.0

In [44]:
RCB_6=data1[(data1["batting_team"]=="Royal Challengers Bangalore")&(data1["bowling_team"]=="Mumbai Indians")]

In [45]:
RCB_6n=RCB_6[RCB_6["over"].isin([1,2,3,4,5,6])]

In [46]:
RCB_6n.groupby(["match_id"])["total_runs"].sum()

match_id
12       41
37       52
63       40
90       36
143      51
153      39
188      55
226      34
231      44
242      24
306      68
360      35
367      40
383      31
417      35
462      30
484      64
534      33
562      39
590      49
617      25
7907     57
7924     44
11143    60
11322    50
Name: total_runs, dtype: int64

In [47]:
RCB_6n.groupby(["match_id"])["total_runs"].sum().mean()

43.04

According to dataset Mi score 2 runs more than RCB