 <img src="https://github.com/MahendraCherukupalli/The-Sparks-Foundation-Internship/blob/master/wpl_badge1.png?raw=true"/>

## Steps:
- Import Libraries
- Get the Data
- Data Preprocessing
- Train-Test Split
- Scalling the Data
- Creating and Training the Model
- Predictions
- Residual Analysis
- Evaluating the modelm

**Let's get started!**

# Import Libraries

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns  
import matplotlib.pyplot as plt  
%matplotlib inline

# Get the data

In [3]:
data=pd.read_csv("matches.csv")
data.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [4]:
data.shape

(756, 18)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
id                 756 non-null int64
season             756 non-null int64
city               749 non-null object
date               756 non-null object
team1              756 non-null object
team2              756 non-null object
toss_winner        756 non-null object
toss_decision      756 non-null object
result             756 non-null object
dl_applied         756 non-null int64
winner             752 non-null object
win_by_runs        756 non-null int64
win_by_wickets     756 non-null int64
player_of_match    752 non-null object
venue              756 non-null object
umpire1            754 non-null object
umpire2            754 non-null object
umpire3            119 non-null object
dtypes: int64(5), object(13)
memory usage: 106.4+ KB

In [6]:
data.describe()

                 id       season  dl_applied  win_by_runs  win_by_wickets
count    756.000000   756.000000  756.000000   756.000000      756.000000
mean    1792.178571  2013.444444    0.025132    13.283069        3.350529
std     3464.478148     3.366895    0.156630    23.471144        3.387963
min        1.000000  2008.000000    0.000000     0.000000        0.000000
25%      189.750000  2011.000000    0.000000     0.000000        0.000000
50%      378.500000  2013.000000    0.000000     0.000000        4.000000
75%      567.250000  2016.000000    0.000000    19.000000        6.000000
max    11415.000000  2019.000000    1.000000   146.000000       10.000000

In [7]:
data1=pd.read_csv("deliveries.csv")
data1.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [8]:
data1.shape

(179078, 21)

In [9]:
data1.describe()

,match_id,inning,over,ball,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs
count,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000
mean,1802.252957,1.482952,10.162488,3.615587,0.000452,0.036721,0.004936,0.021136,0.004183,0.000056,1.246864,0.067032,1.313897
std,3472.322805,0.502074,5.677684,1.806966,0.021263,0.251161,0.116480,0.194908,0.070492,0.016709,1.608270,0.342553,1.605422
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,190.000000,1.000000,5.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,379.000000,1.000000,10.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
75%,567.000000,2.000000,15.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,11415.000000,5.000000,20.000000,9.000000,1.000000,5.000000,4.000000,5.000000,5.000000,5.000000,7.000000,7.000000,10.000000

# Data Preprocessing

In [10]:
# checking for null values...
data.isnull().sum()

id                   0
season               0
city                 7
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner               4
win_by_runs          0
win_by_wickets       0
player_of_match      4
venue                0
umpire1              2
umpire2              2
umpire3            637
dtype: int64

In [11]:
data1.isnull().sum()

match_id                 0
inning                   0
batting_team             0
bowling_team             0
over                     0
ball                     0
batsman                  0
non_striker              0
bowler                   0
is_super_over            0
wide_runs                0
bye_runs                 0
legbye_runs              0
noball_runs              0
penalty_runs             0
batsman_runs             0
extra_runs               0
total_runs               0
player_dismissed    170244
dismissal_kind      170244
fielder             172630
dtype: int64

In [12]:
data.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [13]:
rdf=data[(data["team1"]=='Mumbai Indians')&((data["team2"]=="Delhi Daredevils")|(data["team2"]=="Delhi Capitals"))]

In [14]:
rdf

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
23,24,2017,Mumbai,2017-04-22,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,normal,0,Mumbai Indians,14,0,MJ McClenaghan,Wankhede Stadium,A Nand Kishore,S Ravi,NaN
43,44,2017,Delhi,2017-05-06,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,normal,0,Mumbai Indians,146,0,LMP Simmons,Feroz Shah Kotla,Nitin Menon,CK Nandan,NaN
81,82,2008,Mumbai,2008-05-04,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,normal,0,Mumbai Indians,29,0,SM Pollock,Dr DY Patil Sports Academy,IL Howell,RE Koertzen,NaN
108,109,2008,Delhi,2008-05-24,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,normal,0,Delhi Daredevils,0,5,KD Karthik,Feroz Shah Kotla,BF Bowden,K Hariharan,NaN
149,150,2009,East London,2009-05-08,Mumbai Indians,Delhi Daredevils,Mumbai Indians,bat,normal,0,Delhi Daredevils,0,7,A Nehra,Buffalo Park,M Erasmus,SK Tarapore,NaN
169,170,2009,Centurion,2009-05-21,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,normal,0,Delhi Daredevils,0,4,V Sehwag,SuperSport Park,IL Howell,S Ravi,NaN
182,183,2010,Delhi,2010-03-17,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,normal,0,Mumbai Indians,98,0,SR Tendulkar,Feroz Shah Kotla,BR Doctrove,SK Tarapore,NaN
220,221,2010,Mumbai,2010-04-13,Mumbai Indians,Delhi Daredevils,Mumbai Indians,bat,normal,0,Mumbai Indians,39,0,KA Pollard,Brabourne Stadium,S Asnani,DJ Harper,NaN
281,282,2011,Mumbai,2011-05-07,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,normal,0,Mumbai Indians,32,0,AT Rayudu,Wankhede Stadium,K Hariharan,SJA Taufel,NaN
326,327,2012,Mumbai,2012-04-16,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,normal,0,Delhi Daredevils,0,7,S Nadeem,Wankhede Stadium,BF Bowden,SK Tarapore,NaN
389,390,2013,Mumbai,2013-04-09,Mumbai Indians,Delhi Daredevils,Mumbai Indians,bat,normal,0,Mumbai Indians,44,0,KD Karthik,Wankhede Stadium,M Erasmus,VA Kulkarni,NaN
407,408,2013,Delhi,2013-04-21,Mumbai Indians,Delhi Daredevils,Mumbai Indians,bat,normal,0,Delhi Daredevils,0,9,V Sehwag,Feroz Shah Kotla,HDPK Dharmasena,S Ravi,NaN
472,473,2014,Sharjah,2014-04-27,Mumbai Indians,Delhi Daredevils,Mumbai Indians,bat,normal,0,Delhi Daredevils,0,6,M Vijay,Sharjah Cricket Stadium,Aleem Dar,VA Kulkarni,NaN
507,508,2014,Mumbai,2014-05-23,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,normal,0,Mumbai Indians,15,0,MEK Hussey,Wankhede Stadium,S Ravi,RJ Tucker,NaN
622,623,2016,Visakhapatnam,2016-05-15,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,normal,0,Mumbai Indians,80,0,KH Pandya,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,Nitin Menon,CK Nandan,NaN
644,7902,2018,Mumbai,14/04/18,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,normal,0,Delhi Daredevils,0,7,JJ Roy,Wankhede Stadium,K Ananthapadmanabhan,Nitin Menon,Rod Tucker
729,11325,2019,Delhi,18/04/19,Mumbai Indians,Delhi Capitals,Mumbai Indians,bat,normal,0,Mumbai Indians,40,0,HH Pandya,Feroz Shah Kotla Ground,Nigel Llong,Bruce Oxenford,Anil Chaudhary

In [15]:
rdf[["team1","team2","toss_winner","toss_decision","winner"]]

,team1,team2,toss_winner,toss_decision,winner
23,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,Mumbai Indians
43,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,Mumbai Indians
81,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,Mumbai Indians
108,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,Delhi Daredevils
149,Mumbai Indians,Delhi Daredevils,Mumbai Indians,bat,Delhi Daredevils
169,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,Delhi Daredevils
182,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,Mumbai Indians
220,Mumbai Indians,Delhi Daredevils,Mumbai Indians,bat,Mumbai Indians
281,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,Mumbai Indians
326,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,Delhi Daredevils
389,Mumbai Indians,Delhi Daredevils,Mumbai Indians,bat,Mumbai Indians
407,Mumbai Indians,Delhi Daredevils,Mumbai Indians,bat,Delhi Daredevils
472,Mumbai Indians,Delhi Daredevils,Mumbai Indians,bat,Delhi Daredevils
507,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,Mumbai Indians
622,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,Mumbai Indians
644,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,Delhi Daredevils
729,Mumbai Indians,Delhi Capitals,Mumbai Indians,bat,Mumbai Indians

In [16]:
rdf[["team1","team2","toss_winner","toss_decision","winner"]].isnull().sum()

team1            0
team2            0
toss_winner      0
toss_decision    0
winner           0
dtype: int64

In [17]:
rdf[(rdf["toss_winner"]=="Delhi Daredevils")&(rdf["toss_decision"]=="bat")]

Empty DataFrame
Columns: [id, season, city, date, team1, team2, toss_winner, toss_decision, result, dl_applied, winner, win_by_runs, win_by_wickets, player_of_match, venue, umpire1, umpire2, umpire3]
Index: []

According to present situations the team which bat first wins more matches.

In [18]:
data1.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [19]:
data1.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [20]:
bat=data1[(data1["batting_team"]=='Mumbai Indians')&(data1["bowling_team"]=="Delhi Daredevils")&(data1["batsman"]=="RG Sharma")]

In [21]:
bat

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
5547,24,1,Mumbai Indians,Delhi Daredevils,6,2,RG Sharma,N Rana,CH Morris,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
5548,24,1,Mumbai Indians,Delhi Daredevils,6,3,RG Sharma,N Rana,CH Morris,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
5549,24,1,Mumbai Indians,Delhi Daredevils,6,4,RG Sharma,N Rana,CH Morris,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
5550,24,1,Mumbai Indians,Delhi Daredevils,6,5,RG Sharma,N Rana,CH Morris,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
5551,24,1,Mumbai Indians,Delhi Daredevils,6,6,RG Sharma,N Rana,CH Morris,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163480,7948,2,Mumbai Indians,Delhi Daredevils,13,6,RG Sharma,HH Pandya,TA Boult,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
163482,7948,2,Mumbai Indians,Delhi Daredevils,14,1,RG Sharma,HH Pandya,HV Patel,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
163483,7948,2,Mumbai Indians,Delhi Daredevils,14,2,RG Sharma,HH Pandya,HV Patel,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
163486,7948,2,Mumbai Indians,Delhi Daredevils,14,5,RG Sharma,HH Pandya,HV Patel,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
163487,7948,2,Mumbai Indians,Delhi Daredevils,14,6,RG Sharma,HH Pandya,HV Patel,0,...,0,0,0,0,0,0,0,RG Sharma,caught,TA Boult

In [22]:
bat.shape

(391, 21)

In [23]:
bat.groupby(["over"])["batsman_runs"].sum()

over
1     32
2      5
3     20
4     20
5     17
6     18
7     25
8     20
9     27
10    18
11    33
12    47
13    55
14    37
15    51
16    19
17    13
18    26
19     9
20    26
Name: batsman_runs, dtype: int64

In [24]:
bat.groupby(["match_id"])["batsman_runs"].sum()

match_id
24       5
44      10
238     27
282     49
327     29
342     12
390     74
408     73
473      4
508     30
539     30
556     46
593     65
623     31
7902    19
7948    14
Name: batsman_runs, dtype: int64

In [25]:
bat["batsman_runs"].sum()

518

In [26]:
(bat["batsman_runs"].sum())/16

32.375

In [27]:
bat["player_dismissed"].value_counts()

RG Sharma     14
MEK Hussey     1
KH Pandya      1
Name: player_dismissed, dtype: int64

In [28]:
bowl=data1[(data1["batting_team"]=='Mumbai Indians')&(data1["bowling_team"]=="Delhi Daredevils")&(data1["bowler"]=="K Rabada")]

In [29]:
bowl

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
5512,24,1,Mumbai Indians,Delhi Daredevils,1,1,PA Patel,JC Buttler,K Rabada,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
5513,24,1,Mumbai Indians,Delhi Daredevils,1,2,JC Buttler,PA Patel,K Rabada,0,...,0,0,0,0,0,5,5,NaN,NaN,NaN
5514,24,1,Mumbai Indians,Delhi Daredevils,1,3,JC Buttler,PA Patel,K Rabada,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
5515,24,1,Mumbai Indians,Delhi Daredevils,1,4,PA Patel,JC Buttler,K Rabada,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
5516,24,1,Mumbai Indians,Delhi Daredevils,1,5,JC Buttler,PA Patel,K Rabada,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
5517,24,1,Mumbai Indians,Delhi Daredevils,1,6,JC Buttler,PA Patel,K Rabada,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
5518,24,1,Mumbai Indians,Delhi Daredevils,1,7,JC Buttler,PA Patel,K Rabada,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
5533,24,1,Mumbai Indians,Delhi Daredevils,4,1,JC Buttler,PA Patel,K Rabada,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
5534,24,1,Mumbai Indians,Delhi Daredevils,4,2,JC Buttler,PA Patel,K Rabada,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
5535,24,1,Mumbai Indians,Delhi Daredevils,4,3,JC Buttler,PA Patel,K Rabada,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
5536,24,1,Mumbai Indians,Delhi Daredevils,4,4,JC Buttler,PA Patel,K Rabada,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
5537,24,1,Mumbai Indians,Delhi Daredevils,4,5,PA Patel,JC Buttler,K Rabada,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
5538,24,1,Mumbai Indians,Delhi Daredevils,4,6,PA Patel,JC Buttler,K Rabada,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
5539,24,1,Mumbai Indians,Delhi Daredevils,4,7,PA Patel,JC Buttler,K Rabada,0,...,0,0,0,0,0,0,0,PA Patel,bowled,NaN
5577,24,1,Mumbai Indians,Delhi Daredevils,11,1,KA Pollard,KH Pandya,K Rabada,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
5578,24,1,Mumbai Indians,Delhi Daredevils,11,2,KH Pandya,KA Pollard,K Rabada,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
5579,24,1,Mumbai Indians,Delhi Daredevils,11,3,KH Pandya,KA Pollard,K Rabada,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
5580,24,1,Mumbai Indians,Delhi Daredevils,11,4,KH Pandya,KA Pollard,K Rabada,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
5581,24,1,Mumbai Indians,Delhi Daredevils,11,5,KH Pandya,KA Pollard,K Rabada,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
5582,24,1,Mumbai Indians,Delhi Daredevils,11,6,KA Pollard,KH Pandya,K Rabada,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
5626,24,1,Mumbai Indians,Delhi Daredevils,19,1,HH Pandya,Harbhajan Singh,K Rabada,0,...,0,0,1,0,0,1,1,NaN,NaN,NaN
5627,24,1,Mumbai Indians,Delhi Daredevils,19,2,HH Pandya,Harbhajan Singh,K Rabada,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
5628,24,1,Mumbai Indians,Delhi Daredevils,19,3,HH Pandya,Harbhajan Singh,K Rabada,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
5629,24,1,Mumbai Indians,Delhi Daredevils,19,4,HH Pandya,Harbhajan Singh,K Rabada,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
5630,24,1,Mumbai Indians,Delhi Daredevils,19,5,Harbhajan Singh,HH Pandya,K Rabada,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
5631,24,1,Mumbai Indians,Delhi Daredevils,19,6,HH Pandya,Harbhajan Singh,K Rabada,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
5632,24,1,Mumbai Indians,Delhi Daredevils,19,7,HH Pandya,Harbhajan Singh,K Rabada,0,...,0,0,0,0,0,0,0,Harbhajan Singh,run out,K Rabada
10202,44,1,Mumbai Indians,Delhi Daredevils,2,1,LMP Simmons,PA Patel,K Rabada,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
10203,44,1,Mumbai Indians,Delhi Daredevils,2,2,PA Patel,LMP Simmons,K Rabada,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
10204,44,1,Mumbai Indians,Delhi Daredevils,2,3,LMP Simmons,PA Patel,K Rabada,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
10205,44,1,Mumbai Indians,Delhi Daredevils,2,4,PA Patel,LMP Simmons,K Rabada,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
10206,44,1,Mumbai Indians,Delhi Daredevils,2,5,PA Patel,LMP Simmons,K Rabada,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
10207,44,1,Mumbai Indians,Delhi Daredevils,2,6,LMP Simmons,PA Patel,K Rabada,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
10208,44,1,Mumbai Indians,Delhi Daredevils,2,7,PA Patel,LMP Simmons,K Rabada,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
10215,44,1,Mumbai Indians,Delhi Daredevils,4,1,LMP Simmons,PA Patel,K Rabada,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
10216,44,1,Mumbai Indians,Delhi Daredevils,4,2,LMP Simmons,PA Patel,K Rabada,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
10217,44,1,Mumbai Indians,Delhi Daredevils,4,3,LMP Simmons,PA Patel,K Rabada,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
10218,44,1,Mumbai Indians,Delhi Daredevils,4,4,LMP Simmons,PA Patel,K Rabada,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
10219,44,1,Mumbai Indians,Delhi Daredevils,4,5,LMP Simmons,PA Patel,K Rabada,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
10220,44,1,Mumbai Indians,Delhi Daredevils,4,6,LMP Simmons,PA Patel,K Rabada,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
10288,44,1,Mumbai Indians,Delhi Daredevils,16,1,KA Pollard,RG Sharma,K Rabada,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
10289,44,1,Mumbai Indians,Delhi Daredevils,16,2,KA Pollard,RG Sharma,K Rabada,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
10290,44,1,Mumbai Indians,Delhi Daredevils,16,3,RG Sharma,KA Pollard,K Rabada,0,...,0,0,0,0,0,0,0,RG Sharma,caught,A Mishra
10291,44,1,Mumbai Indians,Delhi Daredevils,16,4,KA Pollard,HH Pandya,K Rabada,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
10292,44,1,Mumbai Indians,Delhi Daredevils,16,5,KA Pollard,HH Pandya,K Rabada,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
10293,44,1,Mumbai Indians,Delhi Daredevils,16,6,KA Pollard,HH Pandya,K Rabada,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
10294,44,1,Mumbai Indians,Delhi Daredevils,16,7,HH Pandya,KA Pollard,K Rabada,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
10309,44,1,Mumbai Indians,Delhi Daredevils,19,1,HH Pandya,KA Pollard,K Rabada,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
10310,44,1,Mumbai Indians,Delhi Daredevils,19,2,HH Pandya,KA Pollard,K Rabada,0,...,0,0,0,0,3,0,3,NaN,NaN,NaN
10311,44,1,Mumbai Indians,Delhi Daredevils,19,3,KA Pollard,HH Pandya,K Rabada,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
10312,44,1,Mumbai Indians,Delhi Daredevils,19,4,HH Pandya,KA Pollard,K Rabada,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
10313,44,1,Mumbai Indians,Delhi Daredevils,19,5,KA Pollard,HH Pandya,K Rabada,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
10314,44,1,Mumbai Indians,Delhi Daredevils,19,6,HH Pandya,KA Pollard,K Rabada,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
10315,44,1,Mumbai Indians,Delhi Daredevils,19,7,HH Pandya,KA Pollard,K Rabada,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [30]:
bowl["player_dismissed"].value_counts()

PA Patel           1
Harbhajan Singh    1
RG Sharma          1
Name: player_dismissed, dtype: int64