 <img src="https://github.com/MahendraCherukupalli/The-Sparks-Foundation-Internship/blob/master/wpl_badge1.png?raw=true"/>

## Steps:
- Import Libraries
- Get the Data
- Data Preprocessing
- Train-Test Split
- Scalling the Data
- Creating and Training the Model
- Predictions
- Residual Analysis
- Evaluating the modelm

**Let's get started!**

# Import Libraries

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns  
import matplotlib.pyplot as plt  
%matplotlib inline

# Get the data

In [3]:
data=pd.read_csv("matches.csv")
data.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [4]:
data.shape

(756, 18)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
id                 756 non-null int64
season             756 non-null int64
city               749 non-null object
date               756 non-null object
team1              756 non-null object
team2              756 non-null object
toss_winner        756 non-null object
toss_decision      756 non-null object
result             756 non-null object
dl_applied         756 non-null int64
winner             752 non-null object
win_by_runs        756 non-null int64
win_by_wickets     756 non-null int64
player_of_match    752 non-null object
venue              756 non-null object
umpire1            754 non-null object
umpire2            754 non-null object
umpire3            119 non-null object
dtypes: int64(5), object(13)
memory usage: 106.4+ KB

In [6]:
data.describe()

                 id       season  dl_applied  win_by_runs  win_by_wickets
count    756.000000   756.000000  756.000000   756.000000      756.000000
mean    1792.178571  2013.444444    0.025132    13.283069        3.350529
std     3464.478148     3.366895    0.156630    23.471144        3.387963
min        1.000000  2008.000000    0.000000     0.000000        0.000000
25%      189.750000  2011.000000    0.000000     0.000000        0.000000
50%      378.500000  2013.000000    0.000000     0.000000        4.000000
75%      567.250000  2016.000000    0.000000    19.000000        6.000000
max    11415.000000  2019.000000    1.000000   146.000000       10.000000

In [7]:
data1=pd.read_csv("deliveries.csv")
data1.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [8]:
data1.shape

(179078, 21)

In [9]:
data1.describe()

,match_id,inning,over,ball,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs
count,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000
mean,1802.252957,1.482952,10.162488,3.615587,0.000452,0.036721,0.004936,0.021136,0.004183,0.000056,1.246864,0.067032,1.313897
std,3472.322805,0.502074,5.677684,1.806966,0.021263,0.251161,0.116480,0.194908,0.070492,0.016709,1.608270,0.342553,1.605422
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,190.000000,1.000000,5.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,379.000000,1.000000,10.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
75%,567.000000,2.000000,15.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,11415.000000,5.000000,20.000000,9.000000,1.000000,5.000000,4.000000,5.000000,5.000000,5.000000,7.000000,7.000000,10.000000

# Data Preprocessing

In [10]:
# checking for null values...
data.isnull().sum()

id                   0
season               0
city                 7
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner               4
win_by_runs          0
win_by_wickets       0
player_of_match      4
venue                0
umpire1              2
umpire2              2
umpire3            637
dtype: int64

In [11]:
data1.isnull().sum()

match_id                 0
inning                   0
batting_team             0
bowling_team             0
over                     0
ball                     0
batsman                  0
non_striker              0
bowler                   0
is_super_over            0
wide_runs                0
bye_runs                 0
legbye_runs              0
noball_runs              0
penalty_runs             0
batsman_runs             0
extra_runs               0
total_runs               0
player_dismissed    170244
dismissal_kind      170244
fielder             172630
dtype: int64

In [39]:
data.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [13]:
Dc=data["team1"]=='Delhi Daredevils'
Rr=data["team1"]=='Rajasthan Royals'
Dc1=data["team2"]=='Delhi Daredevils'
Rr1=data["team2"]=='Rajasthan Royals'

In [14]:
rdf=data[(Dc & Rr1)|(Dc1 & Rr)]

In [15]:
rdf

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
61,62,2008,Delhi,2008-04-19,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,normal,0,Delhi Daredevils,0,9,MF Maharoof,Feroz Shah Kotla,Aleem Dar,GA Pratapkumar,NaN
92,93,2008,Jaipur,2008-05-11,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,3,SR Watson,Sawai Mansingh Stadium,SJ Davis,RE Koertzen,NaN
114,115,2008,Mumbai,2008-05-30,Rajasthan Royals,Delhi Daredevils,Delhi Daredevils,field,normal,0,Rajasthan Royals,105,0,SR Watson,Wankhede Stadium,BF Bowden,RE Koertzen,NaN
132,133,2009,Centurion,2009-04-28,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils,bat,normal,0,Rajasthan Royals,0,5,YK Pathan,SuperSport Park,GAV Baxter,RE Koertzen,NaN
164,165,2009,Bloemfontein,2009-05-17,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils,bat,normal,0,Delhi Daredevils,14,0,AB de Villiers,OUTsurance Oval,SS Hazare,IL Howell,NaN
179,180,2010,Ahmedabad,2010-03-15,Rajasthan Royals,Delhi Daredevils,Delhi Daredevils,field,normal,0,Delhi Daredevils,0,6,V Sehwag,"Sardar Patel Stadium, Motera",BG Jerling,RE Koertzen,NaN
202,203,2010,Delhi,2010-03-31,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils,bat,normal,0,Delhi Daredevils,67,0,KD Karthik,Feroz Shah Kotla,HDPK Dharmasena,SJA Taufel,NaN
240,241,2011,Jaipur,2011-04-12,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils,bat,normal,0,Rajasthan Royals,0,6,SK Warne,Sawai Mansingh Stadium,Aleem Dar,RB Tiffin,NaN
344,345,2012,Delhi,2012-04-29,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils,bat,normal,0,Delhi Daredevils,1,0,V Sehwag,Feroz Shah Kotla,S Ravi,RJ Tucker,NaN
348,349,2012,Jaipur,2012-05-01,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,normal,0,Delhi Daredevils,0,6,P Negi,Sawai Mansingh Stadium,JD Cloete,SJA Taufel,NaN
384,385,2013,Delhi,2013-04-06,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,normal,0,Rajasthan Royals,5,0,R Dravid,Feroz Shah Kotla,S Das,C Shamshuddin,NaN
432,433,2013,Jaipur,2013-05-07,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils,bat,normal,0,Rajasthan Royals,0,9,AM Rahane,Sawai Mansingh Stadium,Aleem Dar,RJ Tucker,NaN
479,480,2014,Delhi,2014-05-03,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,7,KK Nair,Feroz Shah Kotla,SS Hazare,S Ravi,NaN
497,498,2014,Ahmedabad,2014-05-15,Rajasthan Royals,Delhi Daredevils,Delhi Daredevils,field,normal,0,Rajasthan Royals,62,0,AM Rahane,"Sardar Patel Stadium, Motera",S Ravi,RJ Tucker,NaN
522,523,2015,Delhi,2015-04-12,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,3,DJ Hooda,Feroz Shah Kotla,SD Fry,CB Gaffaney,NaN
552,553,2015,Mumbai,2015-05-03,Rajasthan Royals,Delhi Daredevils,Delhi Daredevils,field,normal,0,Rajasthan Royals,14,0,AM Rahane,Brabourne Stadium,HDPK Dharmasena,CB Gaffaney,NaN
641,7899,2018,Jaipur,11/04/18,Rajasthan Royals,Delhi Daredevils,Delhi Daredevils,field,normal,1,Rajasthan Royals,10,0,SV Samson,Sawai Mansingh Stadium,K Ananthapadmanabhan,Rod Tucker,Nitin Menon
667,7925,2018,Delhi,02/05/18,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,field,normal,1,Delhi Daredevils,4,0,RR Pant,Feroz Shah Kotla,O Nandan,Virender Kumar Sharma,Bruce Oxenford

In [16]:
rdf.shape

(18, 18)

In [17]:
rdf[["team1","team2","toss_winner","toss_decision","winner"]]

,team1,team2,toss_winner,toss_decision,winner
61,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,Delhi Daredevils
92,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals
114,Rajasthan Royals,Delhi Daredevils,Delhi Daredevils,field,Rajasthan Royals
132,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils,bat,Rajasthan Royals
164,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils,bat,Delhi Daredevils
179,Rajasthan Royals,Delhi Daredevils,Delhi Daredevils,field,Delhi Daredevils
202,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils,bat,Delhi Daredevils
240,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils,bat,Rajasthan Royals
344,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils,bat,Delhi Daredevils
348,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,Delhi Daredevils
384,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,Rajasthan Royals
432,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils,bat,Rajasthan Royals
479,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals
497,Rajasthan Royals,Delhi Daredevils,Delhi Daredevils,field,Rajasthan Royals
522,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals
552,Rajasthan Royals,Delhi Daredevils,Delhi Daredevils,field,Rajasthan Royals
641,Rajasthan Royals,Delhi Daredevils,Delhi Daredevils,field,Rajasthan Royals
667,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,field,Delhi Daredevils

In [18]:
rdf[["team1","team2","toss_winner","toss_decision","winner"]].isnull().sum()

team1            0
team2            0
toss_winner      0
toss_decision    0
winner           0
dtype: int64

# 1

In [19]:
rdf[(rdf["toss_winner"]=="Delhi Daredevils")&(rdf["toss_decision"]=="bat")]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
132,133,2009,Centurion,2009-04-28,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils,bat,normal,0,Rajasthan Royals,0,5,YK Pathan,SuperSport Park,GAV Baxter,RE Koertzen,NaN
164,165,2009,Bloemfontein,2009-05-17,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils,bat,normal,0,Delhi Daredevils,14,0,AB de Villiers,OUTsurance Oval,SS Hazare,IL Howell,NaN
202,203,2010,Delhi,2010-03-31,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils,bat,normal,0,Delhi Daredevils,67,0,KD Karthik,Feroz Shah Kotla,HDPK Dharmasena,SJA Taufel,NaN
240,241,2011,Jaipur,2011-04-12,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils,bat,normal,0,Rajasthan Royals,0,6,SK Warne,Sawai Mansingh Stadium,Aleem Dar,RB Tiffin,NaN
344,345,2012,Delhi,2012-04-29,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils,bat,normal,0,Delhi Daredevils,1,0,V Sehwag,Feroz Shah Kotla,S Ravi,RJ Tucker,NaN
432,433,2013,Jaipur,2013-05-07,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils,bat,normal,0,Rajasthan Royals,0,9,AM Rahane,Sawai Mansingh Stadium,Aleem Dar,RJ Tucker,NaN

In [20]:
rdf["winner"].value_counts()

Rajasthan Royals    11
Delhi Daredevils     7
Name: winner, dtype: int64

# 2

In [21]:
runs=data1[(data1["batting_team"]=="Delhi Daredevils")&(data1["bowling_team"]=="Rajasthan Royals")]

In [22]:
runs1=runs[runs["over"].isin([1,2,3,4,5,6])]

In [23]:
runs1.groupby(["match_id"])["total_runs"].count()

match_id
62      38
93      37
115     39
133     37
165     38
180     39
203     38
241     38
345     37
349     36
385     37
433     39
480     36
498     37
523     37
553     40
7899    37
7925    36
Name: total_runs, dtype: int64

average of 36 runs scored by Dc in powerplay.

# 3

In [24]:
data1.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [25]:
data1.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [26]:
bat=data1[(data1["batting_team"]=='Rajasthan Royals')&(data1["bowling_team"]=="Delhi Daredevils")&(data1["batsman"]=="SPD Smith")]

In [27]:
bat.head(80)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
124099,523,2,Rajasthan Royals,Delhi Daredevils,6,3,SPD Smith,AM Rahane,NM Coulter-Nile,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
124100,523,2,Rajasthan Royals,Delhi Daredevils,6,4,SPD Smith,AM Rahane,NM Coulter-Nile,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
124101,523,2,Rajasthan Royals,Delhi Daredevils,6,5,SPD Smith,AM Rahane,NM Coulter-Nile,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
124102,523,2,Rajasthan Royals,Delhi Daredevils,6,6,SPD Smith,AM Rahane,NM Coulter-Nile,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
124105,523,2,Rajasthan Royals,Delhi Daredevils,7,3,SPD Smith,AM Rahane,AD Mathews,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
124107,523,2,Rajasthan Royals,Delhi Daredevils,7,5,SPD Smith,AM Rahane,AD Mathews,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
124108,523,2,Rajasthan Royals,Delhi Daredevils,7,6,SPD Smith,AM Rahane,AD Mathews,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
124109,523,2,Rajasthan Royals,Delhi Daredevils,8,1,SPD Smith,AM Rahane,A Mishra,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
124110,523,2,Rajasthan Royals,Delhi Daredevils,8,2,SPD Smith,AM Rahane,A Mishra,0,...,0,0,0,0,0,0,0,SPD Smith,caught,MA Agarwal

In [28]:
bat.shape

(9, 21)

In [29]:
bat.groupby(["over"])["batsman_runs"].sum()

over
6    4
7    6
8    0
Name: batsman_runs, dtype: int64

In [30]:
bat.groupby(["match_id"])["batsman_runs"].sum()

match_id
523    10
Name: batsman_runs, dtype: int64

In [31]:
bat["batsman_runs"].sum()

10

In [32]:
(bat["batsman_runs"].sum())/1

10.0

In [33]:
bat["player_dismissed"].value_counts()

SPD Smith    1
Name: player_dismissed, dtype: int64

we dont have enough information to answer this question.

# 4

In [34]:
wide=data1[(data1["batting_team"].isin(['Delhi Daredevils',"Rajasthan Royals"]))&(data1["bowling_team"].isin(['Delhi Daredevils',"Rajasthan Royals"]))]

In [35]:
wide

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
14335,62,1,Rajasthan Royals,Delhi Daredevils,1,1,T Kohli,YK Pathan,GD McGrath,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
14336,62,1,Rajasthan Royals,Delhi Daredevils,1,2,T Kohli,YK Pathan,GD McGrath,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
14337,62,1,Rajasthan Royals,Delhi Daredevils,1,3,T Kohli,YK Pathan,GD McGrath,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
14338,62,1,Rajasthan Royals,Delhi Daredevils,1,4,T Kohli,YK Pathan,GD McGrath,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
14339,62,1,Rajasthan Royals,Delhi Daredevils,1,5,T Kohli,YK Pathan,GD McGrath,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158034,7925,2,Rajasthan Royals,Delhi Daredevils,12,3,K Gowtham,RA Tripathi,TA Boult,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
158035,7925,2,Rajasthan Royals,Delhi Daredevils,12,4,K Gowtham,RA Tripathi,TA Boult,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
158036,7925,2,Rajasthan Royals,Delhi Daredevils,12,5,RA Tripathi,K Gowtham,TA Boult,0,...,0,0,0,0,0,0,0,RA Tripathi,run out,RR Pant
158037,7925,2,Rajasthan Royals,Delhi Daredevils,12,6,K Gowtham,J Archer,TA Boult,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
158038,7925,2,Rajasthan Royals,Delhi Daredevils,12,7,K Gowtham,J Archer,TA Boult,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN

In [36]:
wide.groupby(["match_id"])["wide_runs"].value_counts()

match_id  wide_runs
62        0            211
          1              6
          2              1
          5              1
93        0            237
          1              7
          2              1
115       0            217
          1              5
          2              1
133       0            234
          1              6
165       0            245
          1              6
180       0            223
          1              8
          2              1
203       0            227
          1              5
          2              1
241       0            234
          1              4
345       0            240
          1              7
349       0            212
          1              4
385       0            240
          1              7
          5              1
433       0            227
          1              9
          5              1
480       0            231
          1              4
498       0            241
          1             10
523       0            240
          1             12
553       0            240
          1             14
          2              1
7899      0            143
          1              3
7925      0            175
          1              9
Name: wide_runs, dtype: int64

average of 7 wides bowld in each match

# 5

In [37]:
wickets=data1[(data1["batting_team"].isin(['Delhi Daredevils',"Rajasthan Royals"]))&(data1["bowling_team"].isin(['Delhi Daredevils',"Rajasthan Royals"]))]

In [38]:
wickets.groupby(["match_id"])["player_dismissed"].count()

match_id
62       9
93      14
115     19
133     12
165     12
180     10
203     16
241     10
345      9
349     10
385     13
433      5
480      8
498     15
523     10
553      9
7899     9
7925    11
Name: player_dismissed, dtype: int64

each team loss average of 5 wickets