 <img src="https://github.com/MahendraCherukupalli/The-Sparks-Foundation-Internship/blob/master/wpl_badge1.png?raw=true"/>

## Steps:
- Import Libraries
- Get the Data
- Data Preprocessing
- Train-Test Split
- Scalling the Data
- Creating and Training the Model
- Predictions
- Residual Analysis
- Evaluating the modelm

**Let's get started!**

# Import Libraries

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns  
import matplotlib.pyplot as plt  
%matplotlib inline

# Get the data

In [3]:
data=pd.read_csv("matches.csv")
data.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [4]:
data.shape

(756, 18)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
id                 756 non-null int64
season             756 non-null int64
city               749 non-null object
date               756 non-null object
team1              756 non-null object
team2              756 non-null object
toss_winner        756 non-null object
toss_decision      756 non-null object
result             756 non-null object
dl_applied         756 non-null int64
winner             752 non-null object
win_by_runs        756 non-null int64
win_by_wickets     756 non-null int64
player_of_match    752 non-null object
venue              756 non-null object
umpire1            754 non-null object
umpire2            754 non-null object
umpire3            119 non-null object
dtypes: int64(5), object(13)
memory usage: 106.4+ KB

In [6]:
data.describe()

                 id       season  dl_applied  win_by_runs  win_by_wickets
count    756.000000   756.000000  756.000000   756.000000      756.000000
mean    1792.178571  2013.444444    0.025132    13.283069        3.350529
std     3464.478148     3.366895    0.156630    23.471144        3.387963
min        1.000000  2008.000000    0.000000     0.000000        0.000000
25%      189.750000  2011.000000    0.000000     0.000000        0.000000
50%      378.500000  2013.000000    0.000000     0.000000        4.000000
75%      567.250000  2016.000000    0.000000    19.000000        6.000000
max    11415.000000  2019.000000    1.000000   146.000000       10.000000

In [7]:
data1=pd.read_csv("deliveries.csv")
data1.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [8]:
data1.shape

(179078, 21)

In [9]:
data1.describe()

,match_id,inning,over,ball,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs
count,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000
mean,1802.252957,1.482952,10.162488,3.615587,0.000452,0.036721,0.004936,0.021136,0.004183,0.000056,1.246864,0.067032,1.313897
std,3472.322805,0.502074,5.677684,1.806966,0.021263,0.251161,0.116480,0.194908,0.070492,0.016709,1.608270,0.342553,1.605422
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,190.000000,1.000000,5.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,379.000000,1.000000,10.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
75%,567.000000,2.000000,15.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,11415.000000,5.000000,20.000000,9.000000,1.000000,5.000000,4.000000,5.000000,5.000000,5.000000,7.000000,7.000000,10.000000

# Data Preprocessing

In [10]:
# checking for null values...
data.isnull().sum()

id                   0
season               0
city                 7
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner               4
win_by_runs          0
win_by_wickets       0
player_of_match      4
venue                0
umpire1              2
umpire2              2
umpire3            637
dtype: int64

In [11]:
data1.isnull().sum()

match_id                 0
inning                   0
batting_team             0
bowling_team             0
over                     0
ball                     0
batsman                  0
non_striker              0
bowler                   0
is_super_over            0
wide_runs                0
bye_runs                 0
legbye_runs              0
noball_runs              0
penalty_runs             0
batsman_runs             0
extra_runs               0
total_runs               0
player_dismissed    170244
dismissal_kind      170244
fielder             172630
dtype: int64

In [12]:
data.head(10)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
5,6,2017,Hyderabad,2017-04-09,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,9,Rashid Khan,"Rajiv Gandhi International Stadium, Uppal",A Deshmukh,NJ Llong,NaN
6,7,2017,Mumbai,2017-04-09,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,N Rana,Wankhede Stadium,Nitin Menon,CK Nandan,NaN
7,8,2017,Indore,2017-04-10,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,bat,normal,0,Kings XI Punjab,0,8,AR Patel,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
8,9,2017,Pune,2017-04-11,Delhi Daredevils,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Delhi Daredevils,97,0,SV Samson,Maharashtra Cricket Association Stadium,AY Dandekar,S Ravi,NaN
9,10,2017,Mumbai,2017-04-12,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,JJ Bumrah,Wankhede Stadium,Nitin Menon,CK Nandan,NaN

In [13]:
Csk=data["team1"]=='Chennai Super Kings'
Rr=data["team1"]=='Rajasthan Royals'
Csk1=data["team2"]=='Chennai Super Kings'
Rr1=data["team2"]=='Rajasthan Royals'

In [14]:
rdf=data[(Csk & Rr1)|(Csk1 & Rr)]

In [15]:
rdf.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
82,83,2008,Jaipur,2008-05-04,Chennai Super Kings,Rajasthan Royals,Chennai Super Kings,bat,normal,0,Rajasthan Royals,0,8,Sohail Tanvir,Sawai Mansingh Stadium,Asad Rauf,AV Jayaprakash,NaN
109,110,2008,Chennai,2008-05-24,Rajasthan Royals,Chennai Super Kings,Rajasthan Royals,bat,normal,0,Rajasthan Royals,10,0,JA Morkel,"MA Chidambaram Stadium, Chepauk",DJ Harper,SL Shastri,NaN
116,117,2008,Mumbai,2008-06-01,Chennai Super Kings,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,3,YK Pathan,Dr DY Patil Sports Academy,BF Bowden,RE Koertzen,NaN
136,137,2009,Centurion,2009-04-30,Chennai Super Kings,Rajasthan Royals,Rajasthan Royals,field,normal,0,Chennai Super Kings,38,0,SK Raina,SuperSport Park,GAV Baxter,RE Koertzen,NaN
151,152,2009,Kimberley,2009-05-09,Rajasthan Royals,Chennai Super Kings,Rajasthan Royals,bat,normal,0,Chennai Super Kings,0,7,S Badrinath,De Beers Diamond Oval,GAV Baxter,HDPK Dharmasena,NaN

In [16]:
rdf.shape

(21, 18)

In [17]:
rdf[["team1","team2","toss_winner","toss_decision","winner"]]

,team1,team2,toss_winner,toss_decision,winner
82,Chennai Super Kings,Rajasthan Royals,Chennai Super Kings,bat,Rajasthan Royals
109,Rajasthan Royals,Chennai Super Kings,Rajasthan Royals,bat,Rajasthan Royals
116,Chennai Super Kings,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals
136,Chennai Super Kings,Rajasthan Royals,Rajasthan Royals,field,Chennai Super Kings
151,Rajasthan Royals,Chennai Super Kings,Rajasthan Royals,bat,Chennai Super Kings
197,Rajasthan Royals,Chennai Super Kings,Rajasthan Royals,bat,Rajasthan Royals
205,Chennai Super Kings,Rajasthan Royals,Chennai Super Kings,bat,Chennai Super Kings
275,Rajasthan Royals,Chennai Super Kings,Rajasthan Royals,bat,Chennai Super Kings
284,Chennai Super Kings,Rajasthan Royals,Rajasthan Royals,field,Chennai Super Kings
333,Rajasthan Royals,Chennai Super Kings,Rajasthan Royals,bat,Chennai Super Kings
360,Rajasthan Royals,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings
409,Rajasthan Royals,Chennai Super Kings,Rajasthan Royals,bat,Chennai Super Kings
441,Chennai Super Kings,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals
466,Chennai Super Kings,Rajasthan Royals,Rajasthan Royals,field,Chennai Super Kings
493,Rajasthan Royals,Chennai Super Kings,Rajasthan Royals,bat,Chennai Super Kings
532,Chennai Super Kings,Rajasthan Royals,Chennai Super Kings,bat,Rajasthan Royals
562,Chennai Super Kings,Rajasthan Royals,Chennai Super Kings,bat,Chennai Super Kings
652,Chennai Super Kings,Rajasthan Royals,Rajasthan Royals,field,Chennai Super Kings
678,Chennai Super Kings,Rajasthan Royals,Chennai Super Kings,bat,Rajasthan Royals
707,Chennai Super Kings,Rajasthan Royals,Rajasthan Royals,field,Chennai Super Kings
720,Rajasthan Royals,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings

In [18]:
rdf[["team1","team2","toss_winner","toss_decision","winner"]].isnull().sum()

team1            0
team2            0
toss_winner      0
toss_decision    0
winner           0
dtype: int64

# 1

In [19]:
rdf[(rdf["toss_winner"]=="Chennai Super Kings")&(rdf["toss_decision"]=="bat")]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
82,83,2008,Jaipur,2008-05-04,Chennai Super Kings,Rajasthan Royals,Chennai Super Kings,bat,normal,0,Rajasthan Royals,0,8,Sohail Tanvir,Sawai Mansingh Stadium,Asad Rauf,AV Jayaprakash,NaN
205,206,2010,Chennai,2010-04-03,Chennai Super Kings,Rajasthan Royals,Chennai Super Kings,bat,normal,0,Chennai Super Kings,23,0,M Vijay,"MA Chidambaram Stadium, Chepauk",RE Koertzen,RB Tiffin,NaN
532,533,2015,Ahmedabad,2015-04-19,Chennai Super Kings,Rajasthan Royals,Chennai Super Kings,bat,normal,0,Rajasthan Royals,0,8,AM Rahane,"Sardar Patel Stadium, Motera",AK Chaudhary,M Erasmus,NaN
562,563,2015,Chennai,2015-05-10,Chennai Super Kings,Rajasthan Royals,Chennai Super Kings,bat,normal,0,Chennai Super Kings,12,0,RA Jadeja,"MA Chidambaram Stadium, Chepauk",M Erasmus,CK Nandan,NaN
678,7936,2018,Jaipur,11/05/18,Chennai Super Kings,Rajasthan Royals,Chennai Super Kings,bat,normal,0,Rajasthan Royals,0,4,JC Buttler,Sawai Mansingh Stadium,Marais Erasmus,Yeshwant Barde,Nitin Menon

In [20]:
rdf["winner"].value_counts()

Chennai Super Kings    14
Rajasthan Royals        7
Name: winner, dtype: int64

according to the dataset Csk win the match

# 2

In [21]:
runs=data1[(data1["batting_team"]=="Rajasthan Royals")&(data1["bowling_team"]=="Chennai Super Kings")]

In [22]:
runs1=runs[runs["over"].isin([1,2,3,4,5,6])]

In [23]:
runs1.groupby(["match_id"])["total_runs"].count()

match_id
83       36
110      37
117      36
137      37
152      36
198      38
206      37
276      36
285      37
334      37
361      37
410      37
442      36
467      37
494      37
533      36
563      36
7910     38
7936     37
11148    39
11316    37
Name: total_runs, dtype: int64

In [24]:
runs1.groupby(["match_id"])["total_runs"].count().mean()

36.857142857142854

average of 36 runs scored by RR in powerplay.

# 3

In [25]:
ecomony_rate=data1[(data1["batting_team"]=="Rajasthan Royals")&(data1["bowling_team"]=="Chennai Super Kings")&(data1["bowler"]=="DL Chahar")]

In [26]:
ecomony_rate.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
154358,7910,2,Rajasthan Royals,Chennai Super Kings,1,1,AM Rahane,H Klaasen,DL Chahar,0,...,0,0,0,0,1,1,2,NaN,NaN,NaN
154359,7910,2,Rajasthan Royals,Chennai Super Kings,1,2,AM Rahane,H Klaasen,DL Chahar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
154360,7910,2,Rajasthan Royals,Chennai Super Kings,1,3,H Klaasen,AM Rahane,DL Chahar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
154361,7910,2,Rajasthan Royals,Chennai Super Kings,1,4,H Klaasen,AM Rahane,DL Chahar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
154362,7910,2,Rajasthan Royals,Chennai Super Kings,1,5,AM Rahane,H Klaasen,DL Chahar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [27]:
ecomony_rate.groupby(["match_id","over"])["total_runs"].sum()

match_id  over
7910      1       16
          3        5
          5        3
          7       10
11148     1        0
          3        6
          5        5
          7        9
11316     1       12
          3       10
          5        5
          19       8
Name: total_runs, dtype: int64

In [28]:
ecomony_rate.groupby(["match_id","over"])["total_runs"].sum().mean()

7.416666666666667

According to dataset Deepak Chahar average economy is 7.4

In [29]:
data.columns

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

In [30]:
data1.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

# 4

In [31]:
Archer_death_wickets=data1[(data1["batting_team"]=="Chennai Super Kings")&(data1["bowling_team"]=="Rajasthan Royals")&(data1["bowler"]=="J Archer")]

In [32]:
Archer_death_wickets1=Archer_death_wickets[Archer_death_wickets["over"].isin([15,16,17,18,19,20])]

In [33]:
Archer_death_wickets1.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
160544,7936,1,Chennai Super Kings,Rajasthan Royals,17,1,MS Dhoni,SW Billings,J Archer,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
160545,7936,1,Chennai Super Kings,Rajasthan Royals,17,2,SW Billings,MS Dhoni,J Archer,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
160546,7936,1,Chennai Super Kings,Rajasthan Royals,17,3,MS Dhoni,SW Billings,J Archer,0,...,0,0,0,0,1,1,2,NaN,NaN,NaN
160547,7936,1,Chennai Super Kings,Rajasthan Royals,17,4,MS Dhoni,SW Billings,J Archer,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
160548,7936,1,Chennai Super Kings,Rajasthan Royals,17,5,MS Dhoni,SW Billings,J Archer,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN

In [34]:
Archer_death_wickets1.groupby(["match_id"])["player_dismissed"].value_counts()

match_id  player_dismissed
11148     DJ Bravo            1
Name: player_dismissed, dtype: int64

According to dataset Archer takes 1 wicket in death

# 5

In [35]:
strike_rate=data1[(data1["batting_team"]=='Rajasthan Royals')&(data1["bowling_team"]=="Chennai Super Kings")&(data1["batsman"]=="SPD Smith")]

In [36]:
strike_rate.groupby(["match_id"])["batsman_runs"].sum()

match_id
467      19
494       9
533       6
563       4
11148    31
11316    15
Name: batsman_runs, dtype: int64

In [37]:
strike_rate.groupby(["match_id"])["ball"].count()

match_id
467      20
494       8
533       7
563       6
11148    33
11316    22
Name: ball, dtype: int64

According to dataset smith strike ratre in between 120-130